<div
  class="alert alert-success"
  role="alert"
  style="display: flex; justify-content: space-between"
>
  <div>
    Вы зашли под ником: <%=user%>
    <form action="/logout">
      <div class="mb-3">
        <input type="submit" value="Logout" />
      </div>
    </form>
  </div>
</div>
