<ul class="nav justify-content-start" >
    <li class="nav-item fw-semibold" id="nav" >
      <a class="nav-link " <%if (active === "signin") {%> id="active" <% } %> href="/signin">Home</a>
    </li>
    <li class="nav-item" id="nav">
      <a class="nav-link fw-semibold"  <%if (active === "blog") {%> id="active" <% } %> href="/blog">Posts</a>
    </li>
    <li class="nav-item fw-semibold" id="nav">
      <a class="nav-link " <%if (active === "contacts") {%> id="active" <% } %> href="/contacts">Contact</a>
    </li>   
</ul>



