<div>
  <h4>Поиск пользователя</h4>
  <div class="input-group flex-nowrap">
    <form action="" method="get">
      <input
        type="text"
        class="form-control"
        aria-describedby="addon-wrapping"
        style="text-transform: lowercase"
        name="userData"
      />
    </form>
  </div>
</div>
