

<% if (!userData) {%>
<div></div>
<%} else {%>
<div> 
    <h2>Профиль пользователя</h2>
    <div class="card" style="width: 18rem">
    <div class="card-body">
        <div>
        <div  style="margin-bottom: 2px;">
                <img  class="card-img-top" src="<%= userData.image%>" alt="user photo">
        </div>
        </div>
        <p>
        <h4 class="card-title">Ник: <%= userData.name%></h4>
        </p>
        <p class="card-text">О себе: <%= userData.bio%></p>
    </div>
    </div>
</div>
<%}%>