<div>
  <h2>Поиск пользователей</h2>
  <div class="input-group flex-nowrap">
    <form action="" method="get">
      <input
        type="text"
        class="form-control"
        placeholder="Ник"
        aria-describedby="addon-wrapping"
        style="text-transform: lowercase"
        name="userData"
      />
    </form>
  </div>
</div>
